{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["@typescript-eslint"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "plugin:mobx/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "react/prop-types": 0,
        "mobx/exhaustive-make-observable": 0,
        "mobx/missing-observer": 0
    }
}
