{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["@typescript-eslint", "import"],
    "settings": {
        "import/resolver": {
            "typescript": true,
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "plugin:mobx/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "react/prop-types": 0,
        "mobx/exhaustive-make-observable": 0,
        "mobx/missing-observer": 0,
        "import/no-unresolved": [
            "error",
            {
                "caseSensitiveStrict": true
            }
        ]
    }
}
