node_modules

npm-debug.log

# output directories for build and buildDemo, respectively
out
dist

# code coverage reports
coverage/*

# Playwright results
playwright-report/
test-results/

# Vercel configuration for forks/testing
.vercel/project.json
.vercel/README.txt